process {
  errorStrategy = 'ignore'
}
profiles {
  batch {
    aws.region = 'us-east-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    process.executor = 'awsbatch'
    process.queue = 'compute'
  }
}
timeline {
  enabled = false
}
report {
  enabled = false
}
trace {
  enabled = false
}
dag {
  enabled = false
}
