process {
  errorStrategy = 'ignore'
  
  withLabel:process_medium_isolated {
    queue = 'compute-medium-isolated'
  }
}
profiles {
  batch {
    aws.region = 'us-east-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    process.container = '288347596461.dkr.ecr.us-east-1.amazonaws.com/cfchip-nextflow'
    process.executor = 'awsbatch'
    process.queue = 'compute'
    process.cpus = 8
    process.memory = '64GB'
  }
}
params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  fasta       = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
  gtf         = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"
  bed12       = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.bed"
  bwa_index   = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/genome.fa"
  mito_name   = "chrM"
  macs_gsize  = "2.7e9"
}
timeline {
  enabled = false
}
report {
  enabled = false
}
trace {
  enabled = false
}
dag {
  enabled = false
}
